░░░░░░░░░░░░░░▄▄▄▄▄▄▄▄▄▄▄▄░░░░░░░░░░░░░░
░░░░░░░░░░░░▄████████████████▄░░░░░░░░░░
░░░░░░░░░░▄██▀░░░░░░░▀▀████████▄░░░░░░░░
░░░░░░░░░▄█▀░░░░░░░░░░░░░▀▀██████▄░░░░░░
░░░░░░░░░███▄░░░░░░░░░░░░░░░▀██████░░░░░
░░░░░░░░▄░░▀▀█░░░░░░░░░░░░░░░░██████░░░░
░░░░░░░█▄██▀▄░░░░░▄███▄▄░░░░░░███████░░░
░░░░░░▄▀▀▀██▀░░░░░▄▄▄░░▀█░░░░█████████░░
░░░░░▄▀░░░░▄▀░▄░░█▄██▀▄░░░░░██████████░░
░░░░░█░░░░▀░░░█░░░▀▀▀▀▀░░░░░██████████▄░
░░░░░░░▄█▄░░░░░▄░░░░░░░░░░░░██████████▀░
░░░░░░█▀░░░░▀▀░░░░░░░░░░░░░███▀███████░░
░░░▄▄░▀░▄░░░░░░░░░░░░░░░░░░▀░░░██████░░░
██████░░█▄█▀░▄░░██░░░░░░░░░░░█▄█████▀░░░
██████░░░▀████▀░▀░░░░░░░░░░░▄▀█████████▄
██████░░░░░░░░░░░░░░░░░░░░▀▄████████████
██████░░▄░░░░░░░░░░░░░▄░░░██████████████
██████░░░░░░░░░░░░░▄█▀░░▄███████████████
███████▄▄░░░░░░░░░▀░░░▄▀▄███████████████

NIC CAGE FANTASY DRAFT

## Draft factors
The fantasy draft will factor 3 inputs in listed in decreasing influence:
1) Cage Factor (Ranges from 0-10)  
2) Audience Score from Rotten Tomatoes (Ranges from 0-100, scaled to be 0-10)  
3) Critic Score from Rotten Tomatoes (Ranges from 0-100, scaled to be 0-10)  

Therefore, the max *unweighted* influencer score one could achieve would be 30, and the minimum would be 0.  A 30 is not possible, as maximum Cage factor tends to upset the critics.  As noted above, the scores will be weighted to heavily bias Cage Factor, then Audience score, and finally critic score.

Cage factor will influence draft order heavily.  While no one man can truly set the Cage Factor of even a single scene of a single movie, I will make an approximation.  Select your movie accordingly.  Bribes encouraged.

Seed for the random number generator will be the number of characters in Nic Cage's birth name, Nicolas Kim Coppola.

In [14]:
import numpy as np
import pandas as pd
# Seed the random number generator for repeatability
blesscage = 'Nicolas Kim Coppola'
np.random.seed(len(blesscage))

In [12]:
# Pull in Everyone's movie choices
# TBD - waiting for the movies to be chosen

In [13]:
# Pull in Cage Factors
# TBD - waiting for bribes to roll in...

In [41]:
# Pull in Movie List
cage_movies = pd.read_csv('Cage Scores.csv')
cage_movies = cage_movies[['Title','Critics','Audience']]
# Scale Critic and Audience scores to range from 0-10
cage_movies['Critics']=cage_movies['Critics']/10
cage_movies['Audience']=cage_movies['Audience']/10
cage_movies.head()

                                     Title  Critics  Audience
0  The Unbearable Weight of Massive Talent      0.0       0.0
1                       Willy's Wonderland      6.1       7.0
2               Prisoners of the Ghostland      7.6       0.0
3                                Jiu Jitsu      2.8       6.5
4                    The Croods: A New Age      7.7       9.4

In [42]:
# To accomodate Zach's weekend update choice, need to insert SNL as a separate row
# As agreed on over text, will use the average critic score for SNL since there is no critic score.
# audience score (from RT) is 44%
# Create Row to append to cage_movies
snl=pd.DataFrame()
snl['Title']=['SNL Weekend Update']
snl['Critics']=[cage_movies['Critics'].mean()]
snl['Audience']=4.4

# Append to list of cage movies
cage_movies = pd.concat([cage_movies,snl]).reset_index(drop=True)
cage_movies.tail()

                            Title   Critics  Audience
103                         Birdy  8.300000       8.3
104                   Rumble Fish  7.400000       8.0
105                   Valley Girl  8.300000       7.2
106  Fast Times at Ridgemont High  7.700000       8.0
107            SNL Weekend Update  4.280374       4.4

In [ ]:
# Combine together, calculate the unweighted and weighted Cage Scores
# Weights were chosen so that both the weighted and unweighted scores range between 0 and 30
weights = {'Cage Factor':2, 'Audience':0.75, 'Critics':0.25}

#cage_movies